@font-face {
    font-family: "Comic Sans MS";
    src: url("assets/comic-sans.ttf");
}

:root {
    --xs: 320px;
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --xxl: 1536px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom, #312e81, #ffd485); */
    /* background: linear-gradient(to bottom, #4f7378, #204549); */
    background: #584e93;
    background-attachment: fixed;
    /* overflow-x: hidden; */

    /* SET TEST HEIGHTS ON CONTENT */
}

.content {
    overflow-x: hidden;
    min-height: 300vh;
}

.container {
    max-width: var(--xl);
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.banner {
    height: 100vh;
    min-height: 20rem;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, #282782, #726ee0, #bba5ff);
    background-attachment: fixed;
    z-index: -10;
    overflow: hidden;
    width: 100%;
}

#title {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: relative;
    font-size: 3rem;
    margin: 0 auto;
    width: fit-content;
    z-index: -8;
    /* font-family: "Comic Sans MS"; */
}

#title::after {
    content: "KeMaFeKi";
    z-index: -9;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    color: #8a88b8;
}

#title::before {
    content: "KeMaFeKi";
    z-index: -10;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    color: #222136;
    opacity: 100%;
}

/* .cloud-left,
.cloud-right {
    transform: translateY(1rem);
} */

#mountain,
#clouds-back,
#clouds-front {
    position: absolute;
    user-select: none;
    left: 50%;
}

#mountain,
#clouds-back {
    transform: translateX(-50%) scaleY(1.2) !important;
    height: 90vh;
    z-index: -11;
}

#clouds-front {
    /* min-width: 100%; */
    bottom: 0;
    z-index: 0;
    transform: translateX(-50%);
    object-fit: fill;
    width: 100%;
    min-width: 60rem;
    height: auto;
    max-height: 70vh;
}

/* .cloud-2 {
    animation-delay: 1s;
}

.cloud-3 {
    animation-delay: 2s;
}

.cloud-4 {
    animation-delay: 3s;
}

.cloud-5 {
    animation-delay: 4s;
}

.cloud-5 {
    animation-delay: 5s;
} */

/* @keyframes oscilate {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(2.5rem);
    }
    66.67% {
        transform: translateX(-2.5rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes oscilate-right {
    0% {
        transform: translateX(0) scaleX(-1);
    }
    33.33% {
        transform: translateX(-2.5rem) scaleX(-1);
    }
    66.67% {
        transform: translateX(2.5rem) scaleX(-1);
    }
    100% {
        transform: translateX(0) scaleX(-1);
    }
} */

.cloud-1 {
    z-index: -7;
}

.cloud-2 {
    z-index: -6;
}

.cloud-3 {
    z-index: -5;
}

.cloud-4 {
    z-index: -4;
}

.cloud-5 {
    z-index: -3;
}

.cloud-6 {
    z-index: -2;
}

.cloud-7 {
    z-index: -1;
}
